# Google AI Studio Gemini API Key
GOOGLE_API_KEY=your_google_ai_studio_api_key_here

# LLM Model (Default: gemini-3.8-flash or gemini-2.0-flash)
LLM_MODEL=gemini-3.8-flash

# Embedding Model
EMBEDDING_MODEL=Gemini-embedding-001

# ChromaDB Storage Directory
CHROMA_PERSIST_DIR=./.chroma_data

# Hybrid Search Alpha (0.0 = Pure BM25, 1.0 = Pure Dense Semantic, 0.5 = Balanced)
DEFAULT_ALPHA=0.5
TOP_K=4

ARVAN_AI_BASE_URL=https://models-interview.arvancloudai.ir/v1
ARVAN_AI_API_KEY=your_arvan_ai_api_key_here